{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Create an SQS queue for notifying the worker bees and Roles for the beanstalk instance profiles",
    "Resources": {
		"PipelineQueue" : {
		    "Type" : "AWS::SQS::Queue",
		    "Properties" : {
		        "VisibilityTimeout" : 300,
		        "QueueName": "{{queue_name}}"
		    }
		},
		"PipelineQueuePolicy" : {
		    "Type" : "AWS::SQS::QueuePolicy",
		    "Metadata" : { 
		    	"DocString" :
				   "Policy that permits workers to add files to the bucket"
			},
		    "Properties" : {
				"Queues" : 
					[ {"Ref": "PipelineQueue"} ],
				"PolicyDocument": {
			    	"Version": "2008-10-17",
			    	"Id": "PipelineQueuePolicy-{{app_name}}",
				    "Statement": [
					{
					    "Sid": "SqsGet-{{app_name}}",
					    "Effect": "Allow",
					    "Principal": {
				            "AWS": "*"
					    },
					    "Action": "sqs:*",
					    "Resource":"arn:aws:sqs:*:*:{{queue_name}}",
					    "Condition": {
					        "ArnLike": {
					            "aws:SourceArn": "arn:aws:s3:*:*:{{bucket_name}}"
					        }
					    }
					}
					]
				}
		    }
		},
		"NucleatorBeanstalkSQSWorkerServiceRunner": {
	         "Type": "AWS::IAM::Role",
	         "Properties": {
	            "AssumeRolePolicyDocument": {
	               "Version" : "2012-10-17",
	               "Statement": [ {
	                  "Effect": "Allow",
	                  "Principal": {
	                     "Service": [ "ec2.amazonaws.com" ]
	                  },
	                  "Action": [ "sts:AssumeRole" ]
	               } ]
	            },
	            "Policies": [ {
	               "PolicyName": "NucleatorBeanstalkSQSWorkerServiceRunnerAccessPolicy",
	               "PolicyDocument": {
		                "Version" : "2012-10-17",
		                "Statement": [
				        {
				            "Action": [
				                "sqs:GetQueueAttributes",
				                "sqs:ReceiveMessage",
				                "sqs:DeleteMessage"
				            ],
				            "Resource": "arn:aws:sqs:*",
				            "Effect": "Allow"
				        },
				        {
				            "Action": [
				                "cloudwatch:PutMetricAlarm",
				                "cloudwatch:PutMetricData"
				            ],
				            "Resource": "*",
				            "Effect": "Allow"
				        },
				        {
				            "Action": [
				                "s3:ListBucket",
				                "s3:PutObject",
				                "s3:GetObject"
				            ],
				            "Resource": "arn:aws:s3:::*",
				            "Effect": "Allow"
				        }
				      	]
	           		}
	           	} ]
	        }
	    },
	    "NucleatorBeanstalkDistributorServiceRunner": {
	         "Type": "AWS::IAM::Role",
	         "Properties": {
	            "AssumeRolePolicyDocument": {
	               "Version" : "2012-10-17",
	               "Statement": [ {
	                  "Effect": "Allow",
	                  "Principal": {
	                     "Service": [ "ec2.amazonaws.com" ]
	                  },
	                  "Action": [ "sts:AssumeRole" ]
	               } ]
	            },
	            "Policies": [ {
	               "PolicyName": "NucleatorBeanstalkDistributorServiceRunnerAccessPolicy",
	               "PolicyDocument": {
		                "Version" : "2012-10-17",
		                "Statement": [
				        {
				            "Action": [
				                "sqs:GetQueueAttributes",
				                "sqs:ReceiveMessage",
				                "sqs:DeleteMessage"
				            ],
				            "Resource": "arn:aws:sqs:*",
				            "Effect": "Allow"
				        },
				        {
				            "Action": [
				                "cloudwatch:PutMetricAlarm",
				                "cloudwatch:PutMetricData"
				            ],
				            "Resource": "*",
				            "Effect": "Allow"
				        },
				        {
				            "Action": [
				                "s3:ListBucket",
				                "s3:PutObject",
				                "s3:PutObjectAcl"
				            ],
				            "Resource": "arn:aws:s3:::*",
				            "Effect": "Allow"
				        }
				      	]
	           		}
	           	} ]
	        }
	    }
	},
    "Outputs": {
        "PipelineQueueName": {
		    "Description": "Name of the SQS queue used by Nucleator Pipeline Demo",
		    "Value": {
				"Ref": "PipelineQueue"
		    }
		},
		"SQSWorkerRoleName": {
		    "Description": "Name of the SQS Worker Service Runner Role",
		    "Value": {
				"Ref": "NucleatorBeanstalkSQSWorkerServiceRunner"
		    }
		},
		"DistributorRoleName": {
		    "Description": "Name of the Distributor Service Runner Role",
		    "Value": {
				"Ref": "NucleatorBeanstalkDistributorServiceRunner"
		    }
		},
		"PipelineQueueArn": {
			"Value": {
				"Fn::GetAtt" : [ "PipelineQueue", "Arn" ]
			}
		}
    }
}
