packages:
  yum:
    scons: ""
    bzr: ""
    gcc-c++: ""
    python-devel: ""
    libjpeg-turbo-devel: ""

sources:  
    /home/ec2-user/exiv2: http://exiv2.org/exiv2-0.24.tar.gz
    /home/ec2-user/boost: http://downloads.sourceforge.net/project/boost/boost/1.57.0/boost_1_57_0.tar.gz?r=&ts=1429301409&use_mirror=hivelocity

commands:

  AA_A_exiv2_configure:
    cwd: /home/ec2-user/exiv2/exiv2-0.24
    command: "./configure --disable-xmp --libdir=/usr/lib64 --includedir=/usr/include/python2.6 --without-zlib"
    test: '[ ! -f Makefile ]'

  AA_B_exiv2_build:
    cwd: /home/ec2-user/exiv2/exiv2-0.24
    command: "make"
    test: '[ ! -f bin/exiv2 ]'

  AA_Ce_exiv2_install:
    cwd: /home/ec2-user/exiv2/exiv2-0.24
    command: "make install"
    test: '[ ! -f /usr/lib64/libexiv2.a ]'

  BB_A_boost_build:
    cwd: /home/ec2-user/boost/boost_1_57_0
    command: "./bootstrap.sh --with-libraries=python --libdir=/usr/lib64 --includedir=/usr/include/python2.6"
    test: '[ ! -f bin.v2/libs/python/build/gcc-4.8.2/release/link-static/threading-multi/libboost_python.a ]'

  BB_B_boost_install:
    cwd: /home/ec2-user/boost/boost_1_57_0
    command: "./b2 install"
    test: '[ ! -f bin.v2/libs/python/build/gcc-4.8.2/release/link-static/threading-multi/libboost_python.a ]'

  CC_A_pyexiv2_get:
    cwd: /home/ec2-user
    command: "bzr branch -r tag:release-0.3.2 lp:pyexiv2"
    test: '[ ! -d pyexiv2 ]'

  CC_B_pyexiv2_build:
    cwd: /home/ec2-user/pyexiv2
    command: "scons"
    test: '[ ! -f build/libexiv2python.so ]'

  CC_C_pyexiv2_install:
    cwd: /home/ec2-user/pyexiv2
    command: "scons install"
    ignoreErrors: true
    test: '[ ! -d /usr/lib64/python2.6/site-packages/pyexiv2 ]'

  CC_D_pyexiv2_ourinstall:
    command: "cp -r /usr/lib64/python2.6/site-packages/pyexiv2 /opt/python/run/baselinenv/lib/python2.7/site-packages/"
    test: '[ ! -d /opt/python/run/baselinenv/lib/python2.7/site-packages/pyexiv2 ]'

  CC_E_pyexiv2_ourinstall2:
    command: "cp /home/ec2-user/pyexiv2/build/libexiv2python.so /opt/python/run/baselinenv/lib64/python2.7/site-packages/libexiv2python.so"
    test: '[ ! -d /opt/python/run/baselinenv/lib64/python2.7/site-packages/libexiv2python.so ]'

option_settings:
  - option_name: S3_BUCKET_NAME
    value: Replace_Queue_Bucket_Name
